*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.contact .head button{
    width: 150px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    color: #fafafa;
    font-weight: 600;
    background: none;
}
.head button:hover{
    color: rgb(195, 160, 160);
}

.contact{
    padding-top: 20px;
    height: 150px;
    background-color: #3D5C64;
}
.contact  .con{
    height: 60px;
    text-align: center;
}
.contact  .con h1{
    color: white;
    font-size: 30px;
}

.contact .login{
    height: 38rem;
    width: 100%;
    background-color: #e8edf0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    /* background-image: url(https://t3.ftcdn.net/jpg/06/83/94/28/360_F_683942890_c2GjYVRjPh9Wu1YYSqTf8M65ystdhpBR.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; */
}
.contact .login .first{
    height: 30rem;
    width: 31rem;
    background-color: rgb(103, 82, 57);
    border-top: 3px solid white;
    border-left: 3px solid white;
}
.contact .login .first img{
    padding-top: 30px;
    padding-left: 50px;
    height: 30px;
}
.contact .login .first h1{
    padding-top: 9rem;
    padding-left: 50px;
    font-size: 20px;
    text-shadow: 2px 2px 5px rgb(90, 126, 88);
}
.contact .login .first h2{
    padding-top: 20px;
    padding-left: 50px;
    font-size: 15px;  
}
.contact .login .first p{
    padding-top: 15px;
    padding-left: 50px;
}
.contact .login .first a{
    text-decoration: none;
    padding: 5px;
    color: white;
}
.contact .login .first a i{
    scale:(1.3)
}

.contact .login .second{
    height: 30rem;
    width: 26rem;
    /* background-image: url(https://lh3.googleusercontent.com/gg/AJxt1KNV8lEMZKvKIHqx18dkj78srCd1ZY-LZN4nnrHLOw3G3p6EGgqiCxkSYuFhvXXk1B-5kQUFN26m0H0PARY4vcg0meXmpClD4UZqHhcCFetNQoxFuX7IslIJ5QztvzJmN0w22GQ18vJTBo6XI6lsa-EIw6kEVfvCGakHzqRAYp6i5CeGkhoL); */
    /* background-image:url(https://lh3.googleusercontent.com/gg/AJxt1KOmZMCABfPZ-aQ-fiZlrpcqM20-bAyFLai6Rlxd-piKklPZIqnnksQ30LERb7OgYo4Z8TOejenyqLEo4l79WSkiEfYBIGStjtuemoY24csk6vU-cB-afFwvlbK7B1VUpZoxZh_Ue49QGbyPCtq_qvNfoh0z4-9T3_luHXTm7LONbmmyc54=s1024) ; */
    background-image: url(https://i.pinimg.com/736x/c6/e5/36/c6e536e0fd30605af7d0ca864e88ea9a.jpg);
    background-position: center;
    border-bottom: 3px solid white;
    border-right: 3px solid white;
}
.contact .login .second h3{
    padding-top: 30px;
   padding-left: 10rem;
   font-size: 25px;
}
.contact .login .second input, button{
    color: rgb(255, 255, 255);
    padding:5px;
    margin-left: 22px;
    margin-top: 25px;
    width: 310px;
    outline: none;
    border: none;
    border-bottom: 3px solid whitesmoke;
    background: none;
    font-size: 17px;
}
#email::placeholder{
    color: rgb(8, 8, 8);
}
#password::placeholder{
    color: black;
}
.contact .login .second .remember-me {
    display: flex;
    align-items: center;
}
.remember-me input[type="checkbox"] {
    margin-right: 30rem;
}
.contact .login .second label{
    font-size: 14px;
    position: absolute;
    margin-top: -21px;
    padding-left: 40px;
}
.contact .login .second a{
    font-size: 14px;
    color: white;
    text-decoration: none;
    position: absolute;
    margin-top: -21px;
    padding-left: 16rem;
}
.contact .login .second button{
    width: 22rem;
    height: 40px;
    background-color: beige;
    border: none;
    border-radius: 5px;
    color: rgb(13, 13, 13);
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
}
.contact .login .second button:hover{
    background-color: rgb(180, 116, 53);
    color: rgb(255, 255, 255);
}
.contact .login .second .signup {
   padding-top: 25px ;
   margin-left: 90px;
}
.contact .login .second .signup a{
    color: rgb(87, 87, 203);
    padding-top: 19px;
    margin-left: -15.5rem;
}


.footer{
    padding: 30px;
    height: 30px;
    background-color: #3D5C64;
    display: flex;
    justify-content:space-between;
    color: white;
}
.link a{ 
    padding-left: 10px;
    padding-right: 5px;
    color: rgb(255, 255, 255);
}
